{{ 'section-alternate-header.css' | asset_url | stylesheet_tag }}



<header class="header" role="banner" data-section-id="{{ section.id }}" data-section-type="alternate-header">
  <a class="skip-link" href="#main">Go to content</a>
  <div class="header__container">

    {% if section.settings.main_menu != blank %}
    <nav class="header__menu header-menu" aria-label="main">
      <ul class="header-menu__list" role="list">
        {% for link in section.settings.main_menu.links %}
          <li class="header-menu__item">
            <a class="header-menu__link" href="{{ link.url }}">{{ link.title }} </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}

    {% if section.settings.logo_image != blank %}
      <div class="header__logo logo">
        <a class="logo__link" href="{{ routes.root_url }}">
          <img
              class="logo__image"
              src="{{ section.settings.logo_image | image_url }}"
              alt=""
              role="presentation"
              />
          <span class="visually-hidden">homepage</span>
        </a>
      </div>
    {% endif %}

    <nav
         class="header__menu header__menu--user-nav header-menu"
         aria-label="user"
         >
      <ul class="header-menu__list" role="list">
        <li class="header-menu__item">
          <a class="header-menu__link" href="{{ routes.account_url }}">Account</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="{{ routes.search_url }}">Search</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="{{ routes.cart_url }}">Cart (<span id="product-amount-cart">
            {{- cart.item_count -}}
          </span>)
          <span class="visually-hidden"> items</span></a>
        </li>
      </ul>
    </nav>
  </div>
  <hr class="header-line" aria-hidden="true">
  <div class="header__container">
    <nav class="breadcrumbs" aria-label="breadcrumbs">
      <ol class="breadcrumbs__list" role="list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="/">Women</a>
        </li>
        <li class="breadcrumbs__item">
          <a aria-current="page" class="breadcrumbs__link breadcrumbs__link--current-page" href="/">White unisex t-shirt</a>
        </li>
      </ol>
    </nav>
  </div>
</header>

<script src="{{ 'alternate-header.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "alternate-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo image"
      },
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main menu"
      }
	  ]
  }
{% endschema %}

