{{ 'section-alternate-product.css' | asset_url | stylesheet_tag }}

<main id="main" class="main">
  <article class="product">
    <div class="product__container">
      <div class="product__gallery">

        {% assign images = product.media | where: "media_type", "image" %}

        {% for image in images %}
        <img
          class="product__image"
          src="{{ image.src | image_url }}"

          {% if image.alt %}
            alt="{{ image.alt }}"
          {% else %}
            alt=""
          {% endif %}

        />
        {% endfor %}
        
      </div>

      <div class="product__info">
        <h1 id="product-name" class="product__heading">
          {{ product.title | escape }}
        </h1>

        <p id="product-price" class="product__price">
          {{ product.price | money }}
        </p>

        <p class="product__tax">Tax included</p>

        <!-- Form start -->
        <form id="product-form" class="product__form product-form">
          <fieldset class="product-form__fieldset">
            <legend class="product-form__legend">Size</legend>
            <div class="product-form__radio">
              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="size"
                       id="xs"
                       value="xs"
                       />
                <label
                       id="size-xs"
                       class="radio__label"
                       for="xs"
                       aria-labelledby="size size-xs"
                       >
                  xs
                </label>
              </span>

              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="size"
                       id="s"
                       value="s"
                       checked
                       />
                <label
                       id="size-s"
                       class="radio__label"
                       for="s"
                       aria-labelledby="size size-s"
                       >
                  s
                </label>
              </span>

              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="size"
                       id="m"
                       value="m"
                       />
                <label
                       id="size-m"
                       class="radio__label"
                       for="m"
                       aria-labelledby="size size-m"
                       >
                  m
                </label>
              </span>

              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="size"
                       id="l"
                       value="l"
                       />
                <label
                       id="size-l"
                       class="radio__label"
                       for="l"
                       aria-labelledby="size size-l"
                       >
                  l
                </label>
              </span>

              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="size"
                       id="xl"
                       value="xl"
                       />
                <label
                       id="size-xl"
                       class="radio__label"
                       for="xl"
                       aria-labelledby="size size-xl"
                       >
                  xl
                </label>
              </span>

              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="size"
                       id="2xl"
                       value="2xl"
                       disabled
                       />
                <label
                       id="size-2xl"
                       class="radio__label"
                       for="2xl"
                       aria-labelledby="size size-2xl"
                       >
                  2xl
                </label>
              </span>
            </div>
          </fieldset>

          <fieldset class="product-form__fieldset">
            <legend class="product-form__legend product-form__current-color">
              Color <span aria-hidden="true">- <span id="product-current-color" class="legend__current-color">white</span></span>
            </legend>
            <div class="product-form__radio">
              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="color"
                       id="white"
                       value="white"
                       checked
                       />
                <label
                       id="color-white"
                       class="radio__label radio__label--color"
                       for="white"
                       aria-labelledby="color color-white"
                       ><span
                              class="label__color label__color--white"
                              ></span>
                  <span class="label__title">white</span></label
                  >
              </span>

              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="color"
                       id="black"
                       value="black"
                       />
                <label
                       id="color-black"
                       class="radio__label radio__label--color"
                       for="black"
                       aria-labelledby="color color-black"
                       ><span
                              class="label__color label__color--black"
                              ></span>
                  <span class="label__title">black</span></label
                  >
              </span>

              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="color"
                       id="dark-gray"
                       value="dark-gray"
                       />
                <label
                       id="color-dark-gray"
                       class="radio__label radio__label--color"
                       for="dark-gray"
                       aria-labelledby="color color-dark-gray"
                       ><span
                              class="label__color label__color--dark-gray"
                              ></span>
                  <span class="label__title">dark gray</span></label
                  >
              </span>

              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="color"
                       id="purple-latte"
                       value="purple-latte"
                       />
                <label
                       id="color-purple-latte"
                       class="radio__label radio__label--color"
                       for="purple-latte"
                       aria-labelledby="color color-purple-latte"
                       >
                  <span
                        class="label__color label__color--purple-latte"
                        ></span>
                  <span class="label__title">purple latte</span>
                </label>
              </span>

              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="color"
                       id="mauvelous"
                       value="mauvelous"
                       disabled
                       />
                <label
                       id="color-mauvelous"
                       class="radio__label radio__label--color"
                       for="mauvelous"
                       aria-labelledby="color color-mauvelous"
                       ><span
                              class="label__color label__color--mauvelous"
                              ></span>
                  <span class="label__title">mauvelous</span></label
                  >
              </span>

              <span class="radio__container">
                <input
                       class="radio__input"
                       type="radio"
                       name="color"
                       id="apricot"
                       value="apricot"
                       disabled
                       />
                <label
                       id="color-apricot"
                       class="radio__label radio__label--color"
                       for="apricot"
                       aria-labelledby="color color-apricot"
                       >
                  <span
                        class="label__color label__color--apricot"
                        ></span>
                  <span class="label__title">apricot</span>
                </label>
              </span>
            </div>
          </fieldset>

          <fieldset class="product-form__fieldset">
            <legend class="product-form__legend product-form__legend--ls">
              Quantity
            </legend>

            <div class="product-form__number-input-container">
              <button
                      id="product-decrease-amount"
                      class="product-form__button product-form__button--small"
                      type="button"
                      >
                −<span class="visually-hidden">decrease quantity</span>
              </button>
              <input
                     id="product-quantity"
                     class="product-form__number-input"
                     type="number"
                     name="quantity"
                     min="1"
                     value="1"
                     aria-label="quantity"
                     />
              <button
                      id="product-increase-amount"
                      class="product-form__button product-form__button--small"
                      type="button"
                      >
                +<span class="visually-hidden">increase quantity</span>
              </button>
            </div>
          </fieldset>

          <div class="product-form__order-button">
            <button id="product-form-add-to-cart" class="product-form__button" type="button">
              add <span class="visually-hidden">unisex t-shirt</span> to cart
            </button>
            <button id="product-form-submit"
                    class="product-form__button product-form__button--submit"
                    type="submit"
                    >
              buy it now <span class="visually-hidden">unisex t-shirt</span>
            </button>
          </div>
        </form>
        <!-- Form end -->

        {%- if product.description != blank -%}
          <div class="product__desctiption">
            {{ product.description }}
          </div>
        {%- endif -%}

      </div>
    </div>

    <div>
      {{ product | json }}
    </div>

    <div class="product__container">
      <!-- Accordion start -->
      <div class="product__accordion product-accordion">
        <section class="product-accordion__container">
          <h2 class="product-accordion__heading">
            <button
                    id="product-accordion__title1"
                    class="product-accordion__button product-accordion__button--open"
                    type="button"
                    aria-expanded="true"
                    aria-controls="product-accordion__content1"
                    >
              Sizing & Fit
              <span class="product-accordion__button-icon-container">
                <span class="product-accordion__button-icon"></span>
              </span>
            </button>

          </h2>

          <div
               id="product-accordion__content1"
               class="product-accordion__content"
               aria-hidden="false"
               aria-labelledby="product-accordion__title1"
               >
            <p
               class="product-accordion__text product-accordion__text--open"
               >
              Olga is 175cm, she is wearing a size S.
            </p>
          </div>
        </section>

        <section class="product-accordion__container">
          <h2 class="product-accordion__heading">
            <button
                    id="product-accordion__title2"
                    class="product-accordion__button"
                    type="button"
                    aria-expanded="false"
                    aria-controls="product-accordion__content2"
                    >
              Composition & Care
              <span class="product-accordion__button-icon-container">
                <span class="product-accordion__button-icon"></span>
              </span>
            </button>

          </h2>

          <div
               id="product-accordion__content2"
               class="product-accordion__content"
               aria-hidden="true"
               aria-labelledby="product-accordion__title2"
               >
            <p
               class="product-accordion__text product-accordion__text--close"
               >
              Lorem ipsum dolor sit amet.
            </p>
          </div>
        </section>

        <section class="product-accordion__container">
          <h2 class="product-accordion__heading">
            <button
                    id="product-accordion__title3"
                    class="product-accordion__button"
                    type="button"
                    aria-expanded="false"
                    aria-controls="product-accordion__content3"
                    >
              Delivery & Returns
              <span class="product-accordion__button-icon-container">
                <span class="product-accordion__button-icon"></span>
              </span>
            </button>

          </h2>

          <div
               id="product-accordion__content3"
               class="product-accordion__content"
               aria-hidden="true"
               aria-labelledby="product-accordion__title3"
               >
            <p
               class="product-accordion__text product-accordion__text--close"
               >
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </section>
      </div>
      <!-- Accordion end -->
    </div>
  </article>
</main>
  

{% schema %}
  {
    "name": "Alternate main product",
	"limit": 1,
	"templates": ["product"],
	"blocks": [
		{
			"name": "Accordeon",
			"type": "accordeon",
			"settings": [
                {
                  "type": "text",
                  "id": "main_product_heading",
                  "label": "Heading",
                  "default": "Main product"
                },
                {
                  "type": "richtext",
                  "id": "main_product_description",
                  "label": "Product description"
                }
            ]
		}
	],
	"presets": [
		{
			"name": "Alternate main product yellow",
            "blocks": [
				{
					"type": "accordeon"
				}
			]
		}
	]
  }
{% endschema %}
