{{ 'section-alternate-product.css' | asset_url | stylesheet_tag }}


<main class="main" data-section-id="{{ section.id }}" data-section-type="alternate-main-product">
  <article class="product">
    <div class="product__container">
      <div class="product__gallery">

        {% assign images = product.media | where: "media_type", "image" %}

        {% if images.size > 0 %}
          {% for image in images %}
          <img
            class="product__image"
            src="{{ image.src | image_url }}"

            {% if image.alt %}
              alt="{{ image.alt }}"
            {% else %}
              alt=""
            {% endif %}

          />
          {% endfor %}
        {% endif %}

      </div>

      <div class="product__info">
        {% if product.title != blank %}
          <h1 id="product-name" class="product__heading">
            {{ product.title | escape }}
          </h1>
        {% endif %}
        
        {% if product.price != blank %}
          <p id="product-price" class="product__price">
            {{ product.price | money }}
          </p>
        {% endif %}

        <p class="product__tax">Tax included</p>

        <!-- Form start -->
        {% form 'product', product, id: 'product-form', class: 'product__form product-form' %}
        
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

        <input type="hidden" name="sections" value="alternate-header">

        <fieldset class="product-form__fieldset">
          <legend class="product-form__legend product-form__legend--ls">
            Quantity
          </legend>

          <div class="product-form__number-input-container">
            <button
                    id="product-decrease-amount"
                    class="product-form__button product-form__button--small"
                    type="button"
                    >
              −<span class="visually-hidden">decrease quantity</span>
            </button>
            <input
                   id="product-quantity"
                   class="product-form__number-input"
                   type="number"
                   name="quantity"
                   min="1"
                   value="1"
                   aria-label="quantity"
                   />
            <button
                    id="product-increase-amount"
                    class="product-form__button product-form__button--small"
                    type="button"
                    >
              +<span class="visually-hidden">increase quantity</span>
            </button>
          </div>
        </fieldset>

        <div class="product-form__order-button">
          <button id="product-form-add-to-cart" class="product-form__button" type="submit">
            add <span class="visually-hidden">unisex t-shirt</span> to cart
          </button>
          <button id="product-form-submit"
                  class="product-form__button product-form__button--submit"
                  type="button"
                  >
            buy it now <span class="visually-hidden">unisex t-shirt</span>
          </button>
        </div>
 

        {% endform %}
        <!-- Form end -->

        {%- if product.description != blank -%}
          <div class="product__desctiption">
            {{ product.description }}
          </div>
        {%- endif -%}

      </div>
    </div>

    
    <!-- Accordion start -->
    <div class="product__container">
      <div class="product__accordion product-accordion">
    {% for block in section.blocks %}
      {% if block.type == "accordeon" %}


        <section id="{{ block.id }}" class="product-accordion__container" {{ block.shopify_attributes }}>
          <h2 class="product-accordion__heading">
            <button
              id="button-{{ block.id }}"
              class="product-accordion__button"
              type="button"
              aria-expanded="false"
              aria-controls="content-{{ block.id }}"
              >
              {{ block.settings.main_product_heading }}
              <span class="product-accordion__button-icon-container">
                <span class="product-accordion__button-icon"></span>
              </span>
            </button>
          </h2>

          <div
            id="content-{{ block.id }}"
            class="product-accordion__content"
            aria-hidden="true"
            aria-labelledby="button-{{ block.id }}"
          >
           
              {{ block.settings.main_product_description }}
            
          </div>
        </section>

      {% endif %}
    {% endfor %}
      </div>
    </div>
    <!-- Accordion end -->

    
  </article>
</main>
  

{% schema %}
  {
    "name": "Alternate main product",
    "limit": 1,
    "templates": ["product"],
    "blocks": [
      {
        "name": "Accordeon",
        "type": "accordeon",
        "settings": [
          {
            "type": "text",
            "id": "main_product_heading",
            "label": "Heading",
            "default": "Main product"
          },
          {
            "type": "richtext",
            "id": "main_product_description",
            "label": "Product description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Alternate main product yellow",
            "blocks": [
          {
            "type": "accordeon"
          }
        ]
      }
    ]
  }
{% endschema %}